:root {
  --primary-1: rgb(0, 180, 180);
  --primary-2: rgb(0, 140, 140);
}

.dark {
  --text-4: rgb(255, 255, 255);
  --text-3: rgb(235, 235, 235);
  --text-2: rgb(215, 215, 215);
  --text-1: rgb(175, 175, 175);
  --bg-1: rgb(0, 0, 0);
  --bg-2: rgb(30, 30, 30);
  --bg-3: rgb(50, 50, 50);
  --bg-4: rgb(80, 80, 80);
}

.light {
  --bg-1: rgb(255, 255, 255);
  --bg-2: rgb(230, 230, 230);
  --bg-3: rgb(230, 230, 230);
  --bg-4: rgb(205, 205, 205);
  --text-1: rgb(0, 0, 0);
  --text-2: rgb(25, 25, 25);
  --text-3: rgb(25, 25, 25);
  --text-4: rgb(50, 50, 50);
}
